<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.gbq.mapper.UserMapper">
  <select id="userSelectList" parameterType="java.util.Map" resultType="com.ssm.gbq.model.User">
    select * from user
     <if test="username!=null">
       where username like #{username}
     </if>
     limit #{num},#{pageSize}
  </select>
<select id="userSelectByid" parameterType="com.ssm.gbq.model.User" resultType="com.ssm.gbq.model.User">
  select * from user where id=#{id}
</select>
  <update id="updateUser" parameterType="com.ssm.gbq.model.User">
    update user set username=#{username},name=#{name},type=#{type},state=#{state},
    updateTime=#{updateTime},updateUser=#{updateUser}
    where id=#{id}
  </update>
  <update id="deleteUser" parameterType="com.ssm.gbq.model.User" >
    update user set state =#{state} where id=#{id}
  </update>
  <insert id="userInsert" parameterType="com.ssm.gbq.model.User">
    insert into user (username, name,
      createTime, createUser,type,state)
    values (#{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{createTime}, #{createUser,jdbcType=INTEGER},#{type,jdbcType=INTEGER},#{state})
  </insert>
<select id="countId" resultType="java.lang.Integer" parameterType="com.ssm.gbq.model.User">
  select count(id) from user
</select>
<select id="countIdUsername" resultType="java.lang.Integer" parameterType="java.util.Map">
  select count(id) from user where username like #{username}
</select>
</mapper>